.button {
  all: unset;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;

  &:hover {
    border-color: transparent;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.icon {
  height: 50px;
  width: 50px;
  fill: rgb(201, 201, 201);
  transition: fill 0.3s ease;
}

.icon:hover {
  fill: rgb(100, 100, 100);
}